.boxPrincipal{
    height: 100%;
}


.boxContent{
    max-width: 800px;
    margin: 0 auto;
}

.boxContent > h2{
    color: white;
    font-size: 1.3em;
    margin: 20px 0px 0px 10px;
}

.boxContent .msg{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.1em;
}