.boxFunctions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    height: max-content;
    height: 50px;
    z-index: 9999;
}


.boxFilters{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boxUl{
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to left, var(--cor1), #2374AB);
    border: 2px solid black;
    width: 110px;
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
    z-index: 9999999999;
}

.boxUl.ShowFilter{
    pointer-events: auto;
    opacity: 1;
}

.iconFilter{
    color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(224, 221, 221);
}

.boxUl > li{
    padding: .3em;
    cursor: pointer;
}

.boxUl > li:hover{
    color: var(--cor5);
}