.boxPrincipal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.173);
    display: flex;
    justify-content: center;
    position: absolute;
}

.boxView{
    padding: 1.5em 1em 1em 1em;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor5));
    border-radius: 9px;
    height: max-content;
    width: 100%;
    max-width: 400px;
    margin: 0px 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.241);
    transform: translateY(80px);
    z-index: 999999;
}

.boxData p{
    padding: .5em ;
    background-color: rgba(224, 221, 221, 0.596);;
    margin-bottom: .3em;
    border-radius: 10px;
}

.boxTask .title{
    padding: .5em ;
    background-color: rgba(224, 221, 221, 0.596);;
    border-radius: 10px 10px 0px 0px;
}



.boxTask .msg{
    padding: .5em ;
    background-color: rgba(224, 221, 221, 0.596);
    border-radius: 0px 0px 10px 10px;
    word-wrap:break-word;
    min-height: 80px;
}