*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --cor1: #42cafd;
  --cor2: #66B3BA;
  --cor5: #343434;
}



 body,html, #root{
  height: 100%;
  background-color: var(--cor5);
}

li{
  list-style: none;
}